@media screen and (max-width: 600px) {
    .container{
        margin: 20px auto;
        max-width:  85vw;

    }

    /* nav */

    .item-container{
        display: none;
        
    }
    nav {
        justify-content: space-between;
    }
    nav i{
        visibility: visible;
    
    }

    .nav-container img {
        width: 32px;
        height: 27px;
       
       
    }
    
    .nav-container p {
        font-size: 21.543px;
        height: 27px;
    
    }
    
   

    .banner .title{
        font-size: 22px;
    }
    .banner .sub-title{
        font-size: 14px;
    }
    .subscribe-container{
        width: 100%;
    }

    .pop-tour-content {
        flex-direction: column;
    }

    .pop-tour-content .image {
        margin-left: 0rem; 
        width: 100%;
    }
    .pop-tour {
        width: 100%;
    }

    .banner .options {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 255px;
        
    }

    #where input, #when select,  #select-type select, #bttn .btn-primary {
        width: 14rem;
    }


    /*newsletter*/
    #News-letter {
        flex-direction: column;
    }
    .sub-image {
        width: 100%;
        margin-bottom: 30px;
    }



}

/*tablet*/
@media screen and (min-width: 600px) and (max-width992px) {
    
}